<section class="hidden-print">
  <h1 class="page-header"><span class="fa fa-info-circle"></span> <%= t('.page_header') %></h1>
</section>
<div class="row">
  <div class="col-lg-4 col-xs-12 col-md-6">
    <!-- next events -->
    <div class="panel panel-default box-dashboard">
      <div class="panel-heading">
        <span class="fa fa-trophy"></span>
         Next events
      </div>
      <!-- next events -->
      <div class="panel-body" id="event_body">
        <!-- next event 1 -->
        <div class="panel panel-default inbox-dashboard">
          <div class="panel-body inbox-dashboard">
            <div name="event-pic" class="row center-row">
              <div class="col-lg-2 col-md-2 col-sm-1 col-xs-2 center">
                  <div class="big-box">
                    <%= image_tag("jp-rodgers-articleLarge.jpg", :class => "img-circle") %>
                  </div>
              </div>
              <div name="event-text" class="col-lg-8 col-md-8 col-sm-9 col-xs-8 uncenter">
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-xs-12 uncenter">
                    <div class="mini-box event-name">
                      Training:
                    </div>
                  </div>
                  <div class="col-lg-12 col-md-12 col-xs-12 uncenter">
                    <div class="mini-box event-text">
                      Monday 15th december 5pm
                    </div>
                  </div>
                </div>
              </div>
              <div name="event-close" class="col-lg-2 col-md-2 col-xs-2 center">
                <div class="big-box event-close">
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- next event 2-->
        <div class="panel panel-default inbox-dashboard" ng-init="center_events()">
          <div class="panel-body inbox-dashboard">
            <div name="event-pic" class="row center-row">
              <div class="col-lg-2 col-md-2 col-sm-1 col-xs-2 center">
                  <div class="big-box">
                    <%= image_tag("jp-rodgers-articleLarge.jpg", :class => "img-circle") %>
                  </div>
              </div>
              <div name="event-text" class="col-lg-8 col-md-8 col-sm-9 col-xs-8 uncenter">
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-xs-12 uncenter">
                    <div class="mini-box event-name">
                      Training:
                    </div>
                  </div>
                  <div class="col-lg-12 col-md-12 col-xs-12 uncenter">
                    <div class="mini-box event-text">
                      Wednesday 17th december 5pm
                    </div>
                  </div>
                </div>
              </div>
              <div name="event-close" class="col-lg-2 col-md-2 col-xs-2 center">
                <div class="big-box event-close">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> <!-- end next events -->
    </div>
  </div>
  <!-- My groups -->
  <div class="col-lg-4 col-xs-12 col-md-6">
    <div class="panel panel-default box-dashboard">
      <div class="panel-heading">
        <span class="fa fa-group"></span> 
        My Groups
      </div>
      <!-- groups -->
      <div class="panel-body" id="group_body">
        <div class="panel panel-default inbox-dashboard" ng-repeat="group in mygroups" ng-init="center_groups()">
          <div class="panel-body inbox-dashboard">
            <div name="group-pic" class="row center-row">
              <div class="col-lg-2 col-md-2 col-sm-1 col-xs-2 center">
                  <div class="big-box">
                    <%= image_tag("jp-rodgers-articleLarge.jpg", :class => "img-circle") %>
                  </div>
              </div>
              <div name="group-text" class="col-lg-8 col-md-8 col-sm-9 col-xs-8 center">
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-xs-12 center">
                    <div class="big-box groups-text">
                      {{group.name}}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class"panel panel-default inbox-dashboard" ng-show="mygroups.length === 0 && !checkLoading()" ng-init="set_height()">
          <div id="group_empty" class="panel-body inbox-empty groups-text text-center" ng-controller="groupsCtrl">
            <div>
              <%=t('.no_group_placeholder') %>
            </div>
            <div class="btn btn-primary"ng-click="redirect_to_groups_create(<%= @is_google_user %>)">
              <i class="fa fa-plus"></i>
              <span class="hidden-xs">
                  <%=t('.create_group') %>
              </span>
            </div>
          </div>
        </div>
      </div>
      <!-- end groups -->
    </div>
  </div>
  <!-- New Invites -->
  <div class="col-lg-4 col-xs-12 col-md-6">
    <div class="panel panel-default box-dashboard">
      <div class="panel-heading">
        <span class="fa fa-envelope-o"></span> 
        My Invites
      </div>
      <div class="panel-body" id="invite_body">
        <!-- invite 1 -->
        <div class="panel panel-default inbox-dashboard">
          <div class="panel-body inbox-dashboard">
            <div name="event-pic" class="row center-row">
              <div class="col-lg-2 col-md-2 col-sm-1 col-xs-2 center">
                  <div class="big-box">
                    <%= image_tag("jp-rodgers-articleLarge.jpg", :class => "img-circle") %>
                  </div>
              </div>
              <div name="event-text" class="col-lg-6 col-md-6 col-sm-7 col-xs-6 uncenter">
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-xs-12 uncenter">
                    <div class="mini-box event-name">
                      Training:
                    </div>
                  </div>
                  <div class="col-lg-12 col-sm-12 col-xs-12 uncenter">
                    <div class="mini-box event-text">
                      Wednesday 23th Jan 2015 7pm
                    </div>
                  </div>
                </div>
              </div>
              <div name="event-close" class="col-lg-4 col-md-4 col-ms-4 col-xs-4 center">
                <div class="big-box">
                  <div class="btn-group pull-right">
                    <div class="btn event-check">
                      <span class="fa fa-check"></span>
                    </div>
                    <div class="btn event-close">
                      <span class="fa fa-close"></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end invite 1 -->
        <!-- invite 2 -->
        <div class="panel panel-default inbox-dashboard">
          <div class="panel-body inbox-dashboard">
            <div name="event-pic" class="row center-row">
              <div class="col-lg-2 col-md-2 col-sm-1 col-xs-2 center">
                  <div class="big-box">
                    <%= image_tag("jp-rodgers-articleLarge.jpg", :class => "img-circle") %>
                  </div>
              </div>
              <div name="event-text" class="col-lg-6 col-md-6 col-sm-7 col-xs-6 uncenter">
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-xs-12 uncenter">
                    <div class="mini-box event-name">
                      Training:
                    </div>
                  </div>
                  <div class="col-lg-12 col-md-12 col-xs-12 uncenter">
                    <div class="mini-box event-text">
                      Monday 30th Jan 2015 5pm
                    </div>
                  </div>
                </div>
              </div>
              <div name="event-close" class="col-lg-4 col-md-4 col-xs-4 center">
                <div class="big-box">
                  <div class="btn-group pull-right">
                    <div class="btn event-check">
                      <span class="fa fa-check"></span>
                    </div>
                    <div class="btn event-close">
                      <span class="fa fa-close"></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end invite 2 -->
      </div>  
    </div>
  </div>
</div>
<div class="row">
  <!-- Blog of group -->
  <div class="col-lg-4 col-xs-12 col-md-6" ng-repeat="group in mygroups track by $index">
    <div class="panel panel-default box-dashboard">
      <div class="panel-heading">
        <a class="modal-link" data-toggle="modal" data-target="#myModal" ng-click="getAllMessages(group.id, $index)">
          <span class="fa fa-rss"></span> 
          Blog of {{group.name}} 
          <span class="badge pull-right">{{unreadMessages.unread[$index]}}</span>
        </a>
      </div>
      <!--messages of groups-->
      <div class="panel-body" id="message_body">
        <!-- read messages -->
        <div  class="panel panel-default inbox-dashboard" 
              ng-init="center_messages()" 
              ng-repeat="message in mymessages[$index]"
              ng-show="currentUserIsSender(message) || (!currentlyRead(message) || isRead(message))">
          <div class="panel-body inbox-dashboard">
            <div name="mes-pic" class="row center-row">
              <div class="col-lg-2 col-md-2 col-sm-1 col-xs-2 center">
                <div class="big-box">
                  <img class="img-circle" ng-src="{{message.image_path}}"/>
                </div>
              </div>
              <div name="mes-text" class="col-lg-7 col-md-7 col-sm-8 col-xs-7 uncenter">
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-xs-12 uncenter">
                    <div class="mini-box message-name">
                      {{message.name}}:
                    </div>
                  </div>
                  <div class="col-lg-12 col-md-12 col-xs-12 uncenter">
                    <div class="mini-box message-text">
                      {{message.text}}
                    </div>
                  </div>
                </div>
              </div>
              <div name="mes-time" class="col-lg-3 col-md-3 col-xs-3 center">
                <div class="big-box message-time pull-right">
                  {{parseTime(message.created_at)}}
                </div>
              </div>
            </div>
          </div>
        </div>
         <!-- unread messages -->
        <div  class="panel panel-default inbox-dashboard unread" 
              ng-init="center_messages()" 
              ng-repeat="message in mymessages[$index]"
              ng-show="!currentUserIsSender(message) && (!isRead(message) || currentlyRead(message))">
          <div class="panel-body inbox-dashboard">
            <div name="mes-pic" class="row center-row">
              <div class="col-lg-2 col-md-2 col-sm-1 col-xs-2 center">
                <div class="big-box">
                  <img class="img-circle" ng-src="{{message.image_path}}"/>
                </div>
              </div>
              <div name="mes-text" class="col-lg-7 col-md-7 col-sm-8 col-xs-7 uncenter">
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-xs-12 uncenter">
                    <div class="mini-box message-name">
                      {{message.name}}:
                    </div>
                  </div>
                  <div class="col-lg-12 col-md-12 col-xs-12 uncenter">
                    <div class="mini-box message-text">
                      {{message.text}}
                    </div>
                  </div>
                </div>
              </div>
              <div name="mes-time" class="col-lg-3 col-md-3 col-xs-3 center">
                <div class="big-box message-time pull-right">
                  {{parseTime(message.created_at)}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="panel-footer">
        <form role="form" name="NewForm">
          <div class="input-group input-group-sm">
            <input  name="input-text"
                    type="text" 
                    class="form-control" 
                    placeholder="<%= t('.new_message') %>"
                    ng-model="group.text"
                    ng-disabled="!NewForm.$valid">
            <span class="input-group-btn">
              <button class=" btn btn-primary btn-input" ng-click="send_message(group.id, group.text, $index)" type="submit">
                <span class="glyphicon glyphicon-ok"></span> 
                <%= t('.send') %>
              </button>
            </span>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="overflow-y: scroll; max-height:85%;  margin-top: 50px; margin-bottom:50px;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">{{selectedGroup.name}}</h4>
      </div>
      <div class="modal-body" id="scrollarea">
        <div class="panel panel-default box-dashboard">
          <!--messages of groups-->
          <div class="panel-body" id="message_body">
            <!-- read messages -->
            <div  class="panel panel-default inbox-dashboard" 
                  ng-init="center_messages()" 
                  ng-repeat="message in selectedGroupMessages"
                  ng-show="currentUserIsSender(message) || !currentlyRead(message)">
              <div class="panel-body inbox-dashboard">
                <div name="mes-pic" class="row center-row">
                  <div class="col-lg-2 col-md-2 col-sm-1 col-xs-2 center">
                    <div class="big-box">
                      <img class="img-circle" ng-src="{{message.image_path}}"/>
                    </div>
                  </div>
                  <div name="mes-text" class="col-lg-7 col-md-7 col-sm-8 col-xs-7 uncenter">
                    <div class="row">
                      <div class="col-lg-12 col-md-12 col-xs-12 uncenter">
                        <div class="mini-box message-name">
                          {{message.name}}:
                        </div>
                      </div>
                      <div class="col-lg-12 col-md-12 col-xs-12 uncenter">
                        <div class="mini-box message-text">
                          {{message.text}}
                        </div>
                      </div>
                    </div>
                  </div>
                  <div name="mes-time" class="col-lg-3 col-md-3 col-xs-3 center">
                    <div class="big-box message-time pull-right">
                      {{parseTime(message.created_at)}}
                    </div>
                  </div>
                </div>
              </div>
            </div>
             <!-- unread messages -->
            <div  class="panel panel-default inbox-dashboard unread" 
                  ng-init="center_messages()" 
                  ng-repeat="message in selectedGroupMessages"
                  ng-show="!currentUserIsSender(message) && currentlyRead(message)">
              <div class="panel-body inbox-dashboard">
                <div name="mes-pic" class="row center-row">
                  <div class="col-lg-2 col-md-2 col-sm-1 col-xs-2 center">
                    <div class="big-box">
                      <img class="img-circle" ng-src="{{message.image_path}}"/>
                    </div>
                  </div>
                  <div name="mes-text" class="col-lg-7 col-md-7 col-sm-8 col-xs-7 uncenter">
                    <div class="row">
                      <div class="col-lg-12 col-md-12 col-xs-12 uncenter">
                        <div class="mini-box message-name">
                          {{message.name}}:
                        </div>
                      </div>
                      <div class="col-lg-12 col-md-12 col-xs-12 uncenter">
                        <div class="mini-box message-text">
                          {{message.text}}
                        </div>
                      </div>
                    </div>
                  </div>
                  <div name="mes-time" class="col-lg-3 col-md-3 col-xs-3 center">
                    <div class="big-box message-time pull-right">
                      {{parseTime(message.created_at)}}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="panel-footer">
            <form role="form" name="NewForm">
              <div class="input-group input-group-sm">
                <input  name="input-text"
                        type="text" 
                        class="form-control" 
                        placeholder="<%= t('.new_message') %>"
                        ng-model="selectedGroup.text"
                        ng-disabled="!NewForm.$valid">
                <span class="input-group-btn">
                  <button class=" btn btn-primary btn-input" ng-click="send_message_modal(selectedGroup.id, selectedGroup.text, selectedGroup.index)" type="submit">
                    <span class="glyphicon glyphicon-ok"></span> 
                    <%= t('.send') %>
                  </button>
                </span>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>