<section class="hidden-print">
  <h1 class="page-header"><span class="fa fa-info-circle"></span> <%= t('.page_header') %></h1>
</section>
<div class="row">
  <div class="col-lg-4 col-xs-12 col-md-6">
    <!-- next events -->
    <div class="panel panel-default box-dashboard">
      <div class="panel-heading">
        <span class="fa fa-trophy"></span>
         Next events
      </div>
      <!-- next events -->
      <div class="panel-body">
        <!-- next event 1 -->
        <div class="panel panel-default inbox-messages">
          <div class="panel-body inbox-messages">
            <div name="event-pic" class="row center-row">
              <div class="col-lg-2 col-md-2 col-xs-2 center">
                  <div class="big-box">
                    <%= image_tag("jp-rodgers-articleLarge.jpg", :class => "img-circle") %>
                  </div>
              </div>
              <div name="event-text" class="col-lg-8 col-md-8 col-xs-8 uncenter">
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-xs-12 uncenter">
                    <div class="mini-box message-name">
                      Training:
                    </div>
                  </div>
                  <div class="col-lg-12 col-md-12 col-xs-12 uncenter">
                    <div class="mini-box message-text">
                      Monday 15th december 5pm
                    </div>
                  </div>
                </div>
              </div>
              <div name="event-time" class="col-lg-2 col-md-2 col-xs-2 center">
                <div class="big-box message-time">
                  <div class="btn">
                    <span class="fa fa-close"></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- next event 2-->
        <div class="panel panel-default inbox-messages">
          <div class="panel-body inbox-messages">
            <div name="event-pic" class="row center-row">
              <div class="col-lg-2 col-md-2 col-xs-2 center">
                  <div class="big-box">
                    <%= image_tag("jp-rodgers-articleLarge.jpg", :class => "img-circle") %>
                  </div>
              </div>
              <div name="event-text" class="col-lg-8 col-md-8 col-xs-8 uncenter">
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-xs-12 uncenter">
                    <div class="mini-box message-name">
                      Training:
                    </div>
                  </div>
                  <div class="col-lg-12 col-md-12 col-xs-12 uncenter">
                    <div class="mini-box message-text">
                      Wednesday 17th december 5pm
                    </div>
                  </div>
                </div>
              </div>
              <div name="event-time" class="col-lg-2 col-md-2 col-xs-2 center">
                <div class="big-box message-time">
                  <div class="btn">
                    <span class="fa fa-close"></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> <!-- end next events -->
    </div>
  </div>
  <!-- My groups -->
  <div class="col-lg-4 col-xs-12 col-md-6">
    <div class="panel panel-default box-dashboard">
      <div class="panel-heading">
        <span class="fa fa-group"></span> 
        My Groups
      </div>
      <!-- groups -->
      <div class="panel-body">
        <div class="panel panel-default inbox-dashboard">
          <%= image_tag("jp-rodgers-articleLarge.jpg", :class => "img-circle") %>
          Green Bay Packers
        </div>
        <div class="panel panel-default inbox-dashboard">
          <%= image_tag("favicon.png", :class => "img-circle") %>
          Scheudlers
        </div>
      </div>
      <!-- end groups -->
    </div>
  </div>
  <!-- New Invites -->
  <div class="col-lg-4 col-xs-12 col-md-6">
    <div class="panel panel-default box-dashboard">
      <div class="panel-heading">
        <span class="fa fa-envelope-o"></span> 
        My Invites
      </div>
      <div class="panel-body">
        <!-- invite 1 -->
        <div class="panel panel-default inbox-dashboard">
          <%= image_tag("jp-rodgers-articleLarge.jpg", :class => "img-circle") %>
          every Monday 5pm Training
          <!-- confirm bottons -->
          <div class="btn-group pull-right" style="margin: 5px">
            <div class="btn">
              <span class="fa fa-check"></span>
            </div>
            <div class="btn">
              <span class="fa fa-close"></span>
            </div>
          </div>
        </div>
        <!-- invite 2 -->
        <div class="panel panel-default inbox-dashboard">
          <%= image_tag("jp-rodgers-articleLarge.jpg", :class => "img-circle") %>
          every Saturday 6pm Game
          <!-- confirm bottons -->
          <div class="btn-group pull-right" style="margin: 5px">
            <div class="btn">
              <span class="fa fa-check"></span>
            </div>
            <div class="btn">
              <span class="fa fa-close"></span>
            </div>
          </div>
        </div>
      </div>  
    </div>
  </div>
</div>
<div class="row">
  <!-- Blog of group -->
  <div class="col-lg-4 col-xs-12 col-md-6">
    <div class="panel panel-default box-dashboard">
      <div class="panel-heading">
        <span class="fa fa-rss"></span> 
        Blog of group
      </div>
      <!--message 1-->
      <div class="panel panel-default inbox-messages">
        <div class="panel-body inbox-messages">
          <div name="mes-pic" class="row center-row">
            <div class="col-lg-2 col-md-2 col-xs-2 center">
              <div class="big-box">
                <img class="img-circle" ng-src="{{messages.image_path}}"/>
              </div>
            </div>
            <div name="mes-text" class="col-lg-8 col-md-8 col-xs-8 uncenter">
              <div class="row">
                <div class="col-lg-12 col-md-12 col-xs-12 uncenter">
                  <div class="mini-box message-name">
                    {{messages.name}}:
                  </div>
                </div>
                <div class="col-lg-12 col-md-12 col-xs-12 uncenter">
                  <div class="mini-box message-text">
                    hi guys, any comments?
                  </div>
                </div>
              </div>
            </div>
            <div name="mes-time" class="col-lg-2 col-md-2 col-xs-2 center">
              <div class="big-box message-time">
                10 pm
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--message 2-->
      <div class="panel panel-default inbox-messages">
        <div class="panel-body inbox-messages">
          <div name="mes-pic" class="row center-row">
            <div class="col-lg-2 col-md-2 col-xs-2 center">
              <div class="big-box">
                <img class="img-circle" ng-src="{{messages.image_path}}"/>
              </div>
            </div>
            <div name="mes-text" class="col-lg-8 col-md-8 col-xs-8 uncenter">
              <div class="row">
                <div class="col-lg-12 col-md-12 col-xs-12 uncenter">
                  <div class="mini-box message-name">
                    {{messages.name}}:
                  </div>
                </div>
                <div class="col-lg-12 col-md-12 col-xs-12 uncenter">
                  <div class="mini-box message-text">
                    any any any any comments?
                  </div>
                </div>
              </div>
            </div>
            <div name="mes-time" class="col-lg-2 col-md-2 col-xs-2 center">
              <div class="big-box message-time">
                10 pm
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
