<section class="hidden-print">
  <h1 class="page-header"><span class="fa fa-info-circle"></span> <%= t('.page_header') %></h1>
</section>
<div class="row">
  <div class="col-lg-4 col-xs-12 col-md-6">
    <!-- next events -->
    <div class="panel panel-default box-dashboard">
      <div class="panel-heading">
        <span class="fa fa-trophy"></span>
         Next events
      </div>
      <!-- next events -->
      <div class="panel-body">
        <!-- next event 1 -->
        <div class="panel panel-default inbox-dashboard">
          <div class="panel-body inbox-dashboard">
            <div name="event-pic" class="row center-row">
              <div class="col-lg-2 col-md-2 col-sm-1 col-xs-2 center">
                  <div class="big-box">
                    <%= image_tag("jp-rodgers-articleLarge.jpg", :class => "img-circle") %>
                  </div>
              </div>
              <div name="event-text" class="col-lg-8 col-md-8 col-sm-9 col-xs-8 uncenter">
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-xs-12 uncenter">
                    <div class="mini-box event-name">
                      Training:
                    </div>
                  </div>
                  <div class="col-lg-12 col-md-12 col-xs-12 uncenter">
                    <div class="mini-box event-text">
                      Monday 15th december 5pm
                    </div>
                  </div>
                </div>
              </div>
              <div name="event-close" class="col-lg-2 col-md-2 col-xs-2 center">
                <div class="big-box event-close">
                  <div class="btn pull-right">
                    <span class="fa fa-close"></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- next event 2-->
        <div class="panel panel-default inbox-dashboard" ng-init="center_events()">
          <div class="panel-body inbox-dashboard">
            <div name="event-pic" class="row center-row">
              <div class="col-lg-2 col-md-2 col-sm-1 col-xs-2 center">
                  <div class="big-box">
                    <%= image_tag("jp-rodgers-articleLarge.jpg", :class => "img-circle") %>
                  </div>
              </div>
              <div name="event-text" class="col-lg-8 col-md-8 col-sm-9 col-xs-8 uncenter">
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-xs-12 uncenter">
                    <div class="mini-box event-name">
                      Training:
                    </div>
                  </div>
                  <div class="col-lg-12 col-md-12 col-xs-12 uncenter">
                    <div class="mini-box event-text">
                      Wednesday 17th december 5pm
                    </div>
                  </div>
                </div>
              </div>
              <div name="event-close" class="col-lg-2 col-md-2 col-xs-2 center">
                <div class="big-box event-close">
                  <div class="btn pull-right">
                    <span class="fa fa-close"></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> <!-- end next events -->
    </div>
  </div>
  <!-- My groups -->
  <div class="col-lg-4 col-xs-12 col-md-6">
    <div class="panel panel-default box-dashboard">
      <div class="panel-heading">
        <span class="fa fa-group"></span> 
        My Groups
      </div>
      <!-- groups -->
      <div class="panel-body">
        <div class="panel panel-default inbox-dashboard" ng-repeat="group in mygroups" ng-init="center_groups()">
          <div class="panel-body inbox-dashboard">
            <div name="group-pic" class="row center-row">
              <div class="col-lg-2 col-md-2 col-sm-1 col-xs-2 center">
                  <div class="big-box">
                    <%= image_tag("jp-rodgers-articleLarge.jpg", :class => "img-circle") %>
                  </div>
              </div>
              <div name="group-text" class="col-lg-8 col-md-8 col-sm-9 col-xs-8 center">
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-xs-12 center">
                    <div class="big-box groups-text">
                      {{group.name}}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end groups -->
    </div>
  </div>
  <!-- New Invites -->
  <div class="col-lg-4 col-xs-12 col-md-6">
    <div class="panel panel-default box-dashboard">
      <div class="panel-heading">
        <span class="fa fa-envelope-o"></span> 
        My Invites
      </div>
      <div class="panel-body">
        <!-- invite 1 -->
        <div class="panel panel-default inbox-dashboard">
          <div class="panel-body inbox-dashboard">
            <div name="event-pic" class="row center-row">
              <div class="col-lg-2 col-md-2 col-sm-1 col-xs-2 center">
                  <div class="big-box">
                    <%= image_tag("jp-rodgers-articleLarge.jpg", :class => "img-circle") %>
                  </div>
              </div>
              <div name="event-text" class="col-lg-6 col-md-6 col-sm-7 col-xs-6 uncenter">
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-xs-12 uncenter">
                    <div class="mini-box event-name">
                      Training:
                    </div>
                  </div>
                  <div class="col-lg-12 col-sm-12 col-xs-12 uncenter">
                    <div class="mini-box event-text">
                      every Wednesday 5pm
                    </div>
                  </div>
                </div>
              </div>
              <div name="event-close" class="col-lg-4 col-md-4 col-ms-4 col-xs-4 center">
                <div class="big-box">
                  <div class="btn-group pull-right">
                    <div class="btn event-check">
                      <span class="fa fa-check"></span>
                    </div>
                    <div class="btn event-close">
                      <span class="fa fa-close"></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end invite 1 -->
        <!-- invite 2 -->
        <div class="panel panel-default inbox-dashboard">
          <div class="panel-body inbox-dashboard">
            <div name="event-pic" class="row center-row">
              <div class="col-lg-2 col-md-2 col-sm-1 col-xs-2 center">
                  <div class="big-box">
                    <%= image_tag("jp-rodgers-articleLarge.jpg", :class => "img-circle") %>
                  </div>
              </div>
              <div name="event-text" class="col-lg-6 col-md-6 col-sm-7 col-xs-6 uncenter">
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-xs-12 uncenter">
                    <div class="mini-box event-name">
                      Training:
                    </div>
                  </div>
                  <div class="col-lg-12 col-md-12 col-xs-12 uncenter">
                    <div class="mini-box event-text">
                      every Wednesday 5pm
                    </div>
                  </div>
                </div>
              </div>
              <div name="event-close" class="col-lg-4 col-md-4 col-xs-4 center">
                <div class="big-box">
                  <div class="btn-group pull-right">
                    <div class="btn event-check">
                      <span class="fa fa-check"></span>
                    </div>
                    <div class="btn event-close">
                      <span class="fa fa-close"></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end invite 2 -->
      </div>  
    </div>
  </div>
</div>
<div class="row">
  <!-- Blog of group -->
  <div class="col-lg-4 col-xs-12 col-md-6">
    <div class="panel panel-default box-dashboard">
      <div class="panel-heading">
        <span class="fa fa-rss"></span> 
        Blog of group
      </div>
      <!--message 1-->
      <div class="panel-body">
        <div class="panel panel-default inbox-dashboard">
          <div class="panel-body inbox-dashboard">
            <div name="mes-pic" class="row center-row">
              <div class="col-lg-2 col-md-2 col-sm-1 col-xs-2 center">
                <div class="big-box">
                  <img class="img-circle" ng-src="{{messages.image_path}}"/>
                </div>
              </div>
              <div name="mes-text" class="col-lg-8 col-md-8 col-sm-9 col-xs-8 uncenter">
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-xs-12 uncenter">
                    <div class="mini-box message-name">
                      {{messages.name}}:
                    </div>
                  </div>
                  <div class="col-lg-12 col-md-12 col-xs-12 uncenter">
                    <div class="mini-box message-text">
                      hi guys, any comments?
                    </div>
                  </div>
                </div>
              </div>
              <div name="mes-time" class="col-lg-2 col-md-2 col-xs-2 center">
                <div class="big-box message-time">
                  10 pm
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--message 2-->
        <div class="panel panel-default inbox-dashboard" ng-init="center_messages()">
          <div class="panel-body inbox-dashboard">
            <div name="mes-pic" class="row center-row">
              <div class="col-lg-2 col-md-2 col-sm-1 col-xs-2 center">
                <div class="big-box">
                  <img class="img-circle" ng-src="{{messages.image_path}}"/>
                </div>
              </div>
              <div name="mes-text" class="col-lg-8 col-md-8 col-sm-9 col-xs-8 uncenter">
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-xs-12 uncenter">
                    <div class="mini-box message-name">
                      {{messages.name}}:
                    </div>
                  </div>
                  <div class="col-lg-12 col-md-12 col-xs-12 uncenter">
                    <div class="mini-box message-text">
                      any any any any comments?
                    </div>
                  </div>
                </div>
              </div>
              <div name="mes-time" class="col-lg-2 col-md-2 col-xs-2 center">
                <div class="big-box message-time">
                  10 pm
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="panel-footer">
        <form role="form" name="NewForm">
          <div class="input-group input-group-sm">
            <input  type="text" 
                    class="form-control" 
                    placeholder="<%= t('.new_message') %>"
                    ng-model="newMess.text" 
                    ng-disabled="!NewForm.$valid">
            <span class="input-group-addon btn btn-input">
              <span class="glyphicon glyphicon-ok"></span> 
              <%= t('.send') %>
            </span>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
