<section class="hidden-print">
  <h1 class="page-header"><span class="fa fa-edit"></span> <%= t('.page_header') %></h1>
</section>

<script type="text/javascript">
  $(function () {
    $('#datepicker').datepicker({
      firstDay: 1,
      pickTime: false,
      format: 'yyyy-mm-dd'
    });
  });
</script>
<script type="text/javascript">
  $(function () {
    $('#datepicker2').datepicker({
      firstDay: 1,
      pickTime: false,
      format: 'yyyy-mm-dd'
      
    });
  });
</script>
<script type="text/javascript">
  $(function () {
    $('#datepicker3').datepicker({
      firstDay: 1,
      pickTime: false,
      format: 'yyyy-mm-dd'
    });
  });
</script>

<div class="row" ng-show="!weekly">
  <div class="col-md-6">
    <form name="createevent" ng-submit="create_event(createevent.$valid)" novalidate>

     <div class="form-group" ng-class="{ 'has-error' : createevent.name.$invalid && !createevent.name.$pristine }">
      <label for="name">
        <%= t('.name') %></label>
        <div class="input-group">
          <input autofocus="autofocus" id="name" ng-model="eventData.name" placeholder="<%= t('.name_placeholder') %>" type="text" ng-minlength="3" required/>
          <span class="input-group-addon">
            <span class="fa fa-trophy"></span>
          </span>
        </div>
          <p ng-show="createevent.name.$invalid && !createevent.name.$pristine && !createevent.name.$error.minlength" class="help-block"><%= t('.required_name') %></p>
      <p ng-show="createevent.name.$error.minlength" class="help-block"><%= t('.minlength_name') %></p>
      </div>

      <div class="form-group">
        <label for="location">
          <%= t('.location') %></label>
          <div class="input-group">
            <input autofocus="autofocus" id="location" ng-model="eventData.location" placeholder="<%= t('.location_placeholder') %>" type="text" ng-autocomplete="result1" details="details1" options="options1" required/>
            <span class="input-group-addon">
              <span class="fa fa-location-arrow"></span>
            </span>
          </div>
        </div>

        <div class="form-group">
          <label for="description">
            <%= t('.description') %></label>
            <div class="input-group">
              <input autofocus="autofocus" id="description" ng-model="eventData.description" placeholder="<%= t('.description_placeholder') %>" type="text" required/>
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-info-sign"></span>
              </span>
            </div>
          </div>

          <div class="form-group">
            <label for="date">
              <%= t('.date') %></label>
              <div class="input-group date" id="datepicker">
                <input autofocus="autofocus" id="date" ng-model="eventData.start" placeholder="<%= t('.date_placeholder') %>" type="text" required/>
                <span class="input-group-addon">
                  <span class="glyphicon glyphicon-calendar"></span>
                </span>
              </div>
            </div>

            <div class="form-group">
              <label for="time">
                <%= t('.time') %></label>
                <div class="input-group time" id="time">
                  <input data-format="hh:mm" ng-model="start_time" autofocus="autofocus" id="timepicker" placeholder="<%= t('.time_placeholder') %>" type="text"/>
                  <span class="input-group-addon">
                    <span class="glyphicon glyphicon-time"></span>
                  </span>
                </div>
              </div>

              <div class="form-group">
                <label for="time">
                  <%= t('.select_group') %></label><br>
                  <label ng-repeat="group in groups">
                    <input type="checkbox" checklist-model="eventData.group_id" ng-change="checkChanged(eventData)" checklist-value="group.id" ng-disabled="checked==limit && !eventData.group_id">{{group.name}}
                    <br>

                  </label>


                </div>

                <p>
                  <button type="submit" class="btn btn-primary btn-lg" ng-disabled="createevent.$invalid"><%=t(".create_event")%>
                  </button>
                </p>
              </form>

            </div>
          </div>


<div class="row" ng-show="weekly">
  <div class="col-md-6">
    <form name="week" ng-submit="create_weekly_event(week.$valid)">

     <div class="form-group" ng-class="{ 'has-error' : week.name.$invalid && !week.name.$pristine }">
      <label for="name">
        <%= t('.name') %></label>
        <div class="input-group">
          <input autofocus="autofocus" id="name" ng-model="eventData.name" placeholder="<%= t('.name_placeholder') %>" type="text" ng-minlength="3" required/>
          <span class="input-group-addon">
            <span class="fa fa-trophy"></span>
          </span>
        </div>
                  <p ng-show="week.name.$invalid && !week.name.$pristine && !week.name.$error.minlength" class="help-block"><%= t('.required_name') %></p>
      <p ng-show="week.name.$error.minlength" class="help-block"><%= t('.minlength_name') %></p>
      </div>

      <div class="form-group">
        <label for="location">
          <%= t('.location') %></label>
          <div class="input-group">
            <input autofocus="autofocus" id="location" ng-model="eventData.location" placeholder="<%= t('.location_placeholder') %>" type="text" ng-autocomplete="result1" details="details1" options="options1" required/>
            <span class="input-group-addon">
              <span class="fa fa-location-arrow"></span>
            </span>
          </div>
        </div>

        <div class="form-group">
          <label for="description">
            <%= t('.description') %></label>
            <div class="input-group">
              <input autofocus="autofocus" id="description" ng-model="eventData.description" placeholder="<%= t('.description_placeholder') %>" type="text" required/>
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-info-sign"></span>
              </span>
            </div>
          </div>

          <div class="form-group">
            <label for="date2">
              <%= t('.date') %></label>
              <div class="input-group date" id="datepicker2">
                <input autofocus="autofocus" id="date2" ng-model="eventData.start" placeholder="<%= t('.date_placeholder') %>" type="text" required/>
                <span class="input-group-addon">
                  <span class="glyphicon glyphicon-calendar"></span>
                </span>
              </div>
            </div>

            <div class="form-group">
            <label for="date3">
              <%= t('.date_end') %></label>
              <div class="input-group date" id="datepicker3">
                <input autofocus="autofocus" id="date3" ng-model="enddate" placeholder="<%= t('.date_placeholder') %>" type="text" required/>
                <span class="input-group-addon">
                  <span class="glyphicon glyphicon-calendar"></span>
                </span>
              </div>
            </div>

            <div class="form-group">
              <label for="time">
                <%= t('.time') %></label>
                <div class="input-group time" id="timex">
                  <input data-format="hh:mm" ng-model="start_time" autofocus="autofocus" id="timepicker2" placeholder="<%= t('.time_placeholder') %>" type="text"/>
                  <span class="input-group-addon">
                    <span class="glyphicon glyphicon-time"></span>
                  </span>
                </div>
              </div>

              <div class="form-group">
                <label for="time">
                  <%= t('.select_group') %></label><br>
                  <label ng-repeat="group in groups">
                    <input type="checkbox" checklist-model="eventData.group_id" ng-change="checkChanged(eventData)" checklist-value="group.id" ng-disabled="checked==limit && !eventData.group_id">{{group.name}}
                    <br>

                  </label>


                </div>

                <p>
                  <button type="submit" class="btn btn-primary btn-lg" ng-disabled="week.$invalid"><%=t(".create_events")%></button>
                </p>
              </form>

            </div>
          </div>

