<section class="hidden-print">
  <h1 class="page-header">
   <i class="fa fa-trophy"></i> <%=t ( '.page_header') %>

   <div class="btn-group pull-right">
    <button type="button" class="btn btn-primary dropdown-toggle pull-right" data-toggle="dropdown" id="dropdownMenu"> <i class="fa fa-plus"></i>
      <span class="hidden-xs">
        <%=t ( '.create_event') %>
      </span>
    </button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
      <li>
        <a href="/#/events_create" ng-click="set_weekly(false)">
          <i class="fa fa-plus-circle"></i>
          <%=t ( '.single_event') %>
        </a>
      </li>
      <li>
        <a href="/#/events_create" ng-click="set_weekly(true)">
          <i class="fa fa-repeat"></i>
          <%=t ('.repeating_event') %></a>
        </li>
      </ul>

    </h1>
  </div>
</section>


<div class="row">
  <% if @event.size == 0 %>
  <!--  condition ng-show -->
  <div class="jumbotron text-center">
    <i class="fa fa-trophy fa-5x"></i>
    <h2>
      <%=t ( ".help_title") %>
    </h2>
    <%=t ( ".help_paragraph1") %>
    <br>
    <%=t ( ".help_paragraph2") %>
  </div>
</div>
<% else %>
<div class="col-lg-12">
  <div ng-repeat="events in allEvents track by $index" class="panel panel-default">
    <div class="row">
      <div class="col-lg-1 col-md-2 col-sm-1 col-xs-2">
        <i class="{{events.icon}} flaticon-large "></i>
     </div>
     <div name="event-name-eve" class="col-lg-10 col-md-10 col-sm-10 col-xs-8">
      <div class="row">
        <div class="event-name-eve col-lg-12 col-md-12 col-xs-12"> 
          <a href="/#/events_location/{{events.id}}">{{events.name}} ({{events.date}} - {{events.time}}, {{events.location}}</a>)
        </div>
        <div name="event-text-eve">
          <div class="col-lg-8 col-md-8 col-xs-8">
            {{events.description}}
          </div>
        </div>
        <div name="event-text-eve">
          <div class="col-lg-4 col-md-4 col-xs-4" ng-show="events.accepted == null">
            <div class="btn btn-group pull-right">
              <button class="btn btn-success" ng-click="take_part(events.id, true, $index)">
                <i class="fa fa-check"></i>
                <span class="hidden-xs">
                  <%=t('.take_part') %>
                </span>
              </button>

              <button class="btn btn-danger" ng-click="take_part(events.id, false, $index)">
                <span class="hidden-xs">
                  <%=t('.deny') %>
                </span>
                <i class="fa fa-remove"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-xs-4" ng-show="events.accepted == true">
            <div class="btn btn-group pull-right">
              <button class="btn btn-success"><i class="fa fa-check"></i>
                <span class="hidden-xs">
                  Accepted
                </span>
              </button>

              <button class="btn btn-success" ng-click="take_part(events.id, null, $index)">
                <span class="hidden-xs">
                  Change
                </span>
                <i class="fa fa-question"></i>
              </button>
            </div>
          </div>
        <div class="col-lg-4 col-md-4 col-xs-4" ng-show="events.accepted == false">
            <div class="btn btn-group pull-right">
              <button class="btn btn-danger"><i class="fa fa-remove"></i>
                <span class="hidden-xs">
                  Rejected
                </span>
              </button>

              <button class="btn btn-danger" ng-click="take_part(events.id, null, $index)">
                <span class="hidden-xs">
                  Change
                </span>
                <i class="fa fa-question"></i>
              </button>
            </div>
          </div>
        <div style="position: absolute; right: 0px;" ng-click="redirect_to_members(events.id)"><i class="fa fa-sign-out"><%=t ('.see_part') %></i></div>
      </div>
    </div>
  </div>
</div>
<% end %>
</div>
