<section class="hidden-print">
  <h1 class="page-header"><span class="fa fa-edit"></span> <%= t('.page_header') %></h1>
</section>

<div class="row" ng-init="checkIfGoogleUser(<%= @current_user.provider.to_json %>)">
    <div class="col-md-6">
      <form name="createGroupForm" ng-submit="create_group(createGroupForm.$valid)" novalidate>

	   <p ng-show="$isGoogleUser" class="help-block"><%= t('.cant_create_group') %></p>

       <div class="form-group" ng-class="{ 'has-error' : createGroupForm.name.$invalid && !createGroupForm.name.$pristine }">
          <label class="control-label" for="name">
            <%= t('.name') %></label>
          <div class="input-group">
            <input autofocus="autofocus" name="name" ng-model="groupData.name" placeholder="<%= t('.name_placeholder') %>" type="text" class="form-control" ng-minlength="3" required />
			<span class="input-group-addon">
              <span class="glyphicon glyphicon-user"></span>
            </span>
          </div>
		  <p ng-show="createGroupForm.name.$invalid && !createGroupForm.name.$pristine && !createGroupForm.name.$error.minlength" class="help-block"><%= t('.required_name') %></p>
		  <p ng-show="createGroupForm.name.$error.minlength" class="help-block"><%= t('.minlength_name') %></p>
        </div>
	
		<div class="form-group" ng-class="{ 'has-error' : createGroupForm.description.$invalid && !createGroupForm.description.$pristine }">
          <label class="control-label" for="description">
            <%= t('.description') %></label>
          <div class="input-group">
            <input autofocus="autofocus" name="description" ng-model="groupData.description" placeholder="<%= t('.description_placeholder') %>" type="text" class="form-control" required />
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-info-sign"></span>
            </span>
          </div>
		  <p ng-show="createGroupForm.description.$invalid && !createGroupForm.description.$pristine" class="help-block"><%= t('.required_description') %></p>
        </div>
		
		<div class="form-group">
			<label><%= t('.icon') %></label>
			<ui-iconpicker groups="font-awesome" value="fa fa-lg fa-beer" ng-model="groupData.icon"></ui-iconpicker>
		</div>
		
		<button type="submit" class="btn btn-primary btn-lg" ng-disabled="createGroupForm.$invalid"><%=t(".create_group")%></button>
      </form>
		
		
    </div>
</div>


