<section class="hidden-print">
  	<h1 class="page-header">
		<span ng-click="redirect_to_back(<%= @current_user.back_link_enabled %>)">
			<i class="fa <%= @group.icon %>"></i> 
			<%= @group.name + t(".page_header") %>
		</span>
		    <button class="btn btn-primary pull-right" ng-click="delete_group(<%= @group.id %>)"><i class="fa fa-remove"></i>
		        <span class="hidden-xs">
		            <%=t('.delete_group') %>
		        </span>
		    </button>
	</h1>
</section>
