<section class="hidden-print" ng-click="redirect_to_back(<%= @current_user.back_link_enabled %>)">
  	<h1 class="page-header">
		<i class="fa <%= @group.icon %>"></i> 
		<%= @group.name + t(".page_header") %>
	</h1>
</section>
<ul class="list-group">
  <% @group_members.each do |member| %>
	<li class="list-group-item">
		<% if member.name == "dummy" then %>
			<%= member.email + ' ' + t(".unregistered_user") %>
		<% else %>
			<%= member.name %>
		<% end %>
		<% if @group.admins.find_by(user_id: member.id) != nil then %>
			<span class="badge-normal pull-right">
				<span class="hidden-xs">
					<%= t(".admin") + "  " %>
				</span>
				<i class="fa fa-ban"></i>
			</span>
		<% else %>
			<% if @is_admin then %>
				<button class="btn btn-danger badge-btn pull-right" ng-click="remove_member(<%= @group.id %>, <%= member.id %>)">
					<span class="hidden-xs">
						<%= t(".user") + "  " %>
					</span>
					<i class="fa fa-remove"></i>
				</button>
				<button class="btn btn-success badge-btn pull-right" ng-click="make_admin(<%= @group.id %>, <%= member.id %>)">
					<span class="hidden-xs">
						<%= t(".make_admin") + "  " %>
					</span>
					<i class="fa fa-level-up"></i>
				</button>
			<% else %>
				<span class="badge-normal pull-right">
					<span class="hidden-xs">
						<%= t(".user") + "  " %>
					</span>
					<i class="fa fa-ban"></i>
				</span>
			<% end %>
		<% end %>
		<% if member.id != @current_user.id and member.name != "dummy" and (@friends == nil or @friends.where(friend_id: member.id).size == 0) then %>
			<button class="btn btn-info badge-btn pull-right" ng-click="make_friend(<%= @group.id %>, <%= member.id %>)">
				<span class="hidden-xs">
					<%= t(".make_friend") + "  " %>
				</span>
				<i class="fa fa-plus"></i>
			</button>
		<% end %>
	</li>
  <% end %>
</ul>
