<!DOCTYPE html>
<html lang="en" ng-app="scheudler">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, height=device-height,  initial-scale=1.0, user-scalable=no, user-scalable=0, maximum-scale=1"/>
    <meta name="description">
    <meta name="robots" content="<%= yield :robots %>">
    <meta name="author" content="">
    <meta name="google-site-verification" content="" />

    <%= favicon_link_tag 'favicon.png' %>
    <title>Scheudler</title>
    <%= stylesheet_link_tag "application", media: "all"%>
    <%= csrf_meta_tags %>
  </head>

  <body ng-controller="rootCtrl">
    <div class="navbar navbar-default navbar-fixed-top" role="navigation" ng-cloak>
      <div class="container-fluid">
        <div class="navbar-header">
          <% if logged_in %>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          <% end %>
            <a class="navbar-brand" href="/#/dashboard">Scheudler</a>
        </div>
        <% if logged_in %>
          <div class="navbar-collapse collapse no-transition">
            <ul class="nav navbar-nav">
              <li ng-class="{active:isActive('/dashboard')}">
                <a href="/#/dashboard"><span class="fa fa-info-circle"></span> <%=t(".navbar.dashboard")%></a>
              </li>
              <li ng-class="{active:isActive('/calendar')}">
                <a href="/#/calendar"><span class="fa fa-calendar"></span>  <%=t(".navbar.calendar")%></a>
              </li>
              <li ng-class="{active:isActive('/events')}">
                <a href="/#/events"><span class="fa fa-trophy"></span> <%=t(".navbar.events")%></a>
              </li>
              <li ng-class="{active:isActive('/groups')}">
                <a href="/#/groups"><span class="fa fa-group"></span> <%=t(".navbar.groups")%></a>
              </li>
              <li ng-class="{active:isActive('/statistic')}">
                <a href="/#/statistic"><span class="fa fa-line-chart"></span> <%=t(".navbar.statistic")%></a>
              </li>
              <li ng-class="{active:isActive('/account')}">
                <a href="/#/account"><span class="fa fa-cogs"></span> <%=t(".navbar.account")%></a>
              </li>

            </ul>
            <ul class="nav navbar-nav pull-right">
                <li>
                  <a href="/signout"><span class="glyphicon glyphicon-off"></span> <%=t("misc.titles.logout")%></a>
                </li>
            </ul>
          </div>
        <% end %>
      </div>
    </div>
    <!-- overall container -->
    <div id="container" class="<%= content_for?(:no_container) ? "" : "container" %>" ng-cloak>
      <section>
        <% flash.each do |key,message| %>
          <div class="alert alert-<%= key.to_s %> alert-dismissable auto-fadeout">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <%=message%>
          </div>
        <% end %>

        <div class="flyover flyover-top"
              ng-class="{in:Util.has_server_errors}">
          <alert ng-repeat="error in server_errors track by $index" type="error_type" close="delete_error($index)">
            <i class="fa fa-exclamation-triangle fa-lg"></i> {{error}}
          </alert>
        </div>

        <%= yield :validation %>
      </section>

      <%= yield %>
    </div>

    <!-- overall footer -->
    <div id="footer" style="font-family:'calibri';" ng-cloak>
      <div class="container">
        <p class="text-muted">
          <div class="row">
            <div class="col-xs-6 col-sm-4 text-center">
              &copy; Scheudler <%= Time.now.year %>
            </div>
            <div class="col-xs-6 col-sm-4 text-center">
              <%= link_to_unless(I18n.locale == :en,
              t('misc.titles.language.english'),{locale: :en},{:onclick => "this.href=this.href+'/'+window.location.hash" })%> |
              <%= link_to_unless(I18n.locale == :de,
              t('misc.titles.language.german'),{locale: :de},{:onclick => "this.href=this.href+'/'+window.location.hash" })%>
            </div>
            <div class="col-xs-12 col-sm-4 text-center">
              <%= link_to t('misc.titles.menus.terms_and_privacy.title'), terms_path %>
            </div>
          </div>
        </p>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%= javascript_include_tag "application" %>
    <%= yield :script %>
    <%if I18n.locale.to_s === "de"%>
        <%= javascript_include_tag "vendor/angular-locale_de-de" %>
    <%end%>
    <script>var locale = "<%=I18n.locale.to_s%>";</script>

  </body>
</html>
